<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>page-er Demo: basic</title>

  <script src="../../platform/platform.js"></script>
  <link rel="import" href="../page-er.html">
  <link href='//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="demos.css" shim-shadowdom>
  <style>
    .divTable {
      display:table;               
      border: 1px solid #eeeeee;
      border-collapse: collapse;
      border-spacing: 0;
      width: 800px;
      margin: 0 auto;
    }
    .divRow {
      display:table-row;
      width:auto;
      clear:both;
      padding: 6px;
      text-align: left;
    }
    .divCell {
      float:left;
      display:table-column;         
      width:200px;          
    }
    .headRow {
      font-weight: bold;
      text-align: left;
    }
  </style>
</head>
<body unresolved>

<header class="app-bar promote-layer paper-toolbar paper-shadow">
  <div class="app-bar-container paper-toolbar">
    <h1 class="logo">basic page-er</h1>
  </div>
</header>

<p>A `page-er` looks like this with some custom styles:</p>
<div class="container">
  <page-er perpage="5"></page-er>

      <div class="divTable">
         <div class="headRow">
            <div class="divCell">Id</div>
            <div class="divCell">Item name</div>
            <div class="divCell">Description</div>
         </div>
         <template id="items" repeat="{{items}}">
            <div class="divRow">
                <div class="divCell">{{id}}</div>
                <div class="divCell">{{name}}</div>
                <div class="divCell">{{description}}</div>
            </div>
          </template>
      </div>

    <select name="options" id="options">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
    </select>
    <span>per page</span>

</div>


<script>
	// Select the grid/table where your main data will appear
	var t = document.querySelector("#items");

	// Select the paginator to use with this element
	var m = document.querySelector("page-er");

  // Select options
  var s = document.querySelector("#options");

	// Create a model we will populate with data
	var model = {
		items: []
	};

	// As this is an example, populate some sample data inside
	for (var i = 1; i < 50; i++) {
		model.items.push({
			id: i,
			name: "Item "+ i,
			description: "description " + i
		});
	}

	document.addEventListener('polymer-ready', function() {
		// 1. Pass as `data` the set of data we want the
		// paginator to paginate
		m.data = model.items;
	});

	document.addEventListener('pager-data', function(e) {
		// 2. Update the current template/view with our
		// paginated set of data. `pager-data` is fired
		// when this has completed
		t.model = { items: e.detail.data };
	});

	// 3. Anytime our paged set changes, update the view
	document.addEventListener('pager-change', function(e) {
		t.model = { items: e.detail.data };
	});

  options.addEventListener('change', function(e){
    m.perpage = parseInt(this.options[this.selectedIndex].value, 10);
    m.currentpage = 0;
  });
</script>
</body>
</html>
