<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>page-er Demo: custom templates</title>

  <script src="../../platform/platform.js"></script>
  <link rel="import" href="../page-er.html">
  <link rel="import" href="../../flatiron-director/flatiron-director.html">
  <link rel="import" href="../../paper-button/paper-button.html">


  <link rel="stylesheet" href="demos.css" shim-shadowdom>
</head>
<body unresolved>

<header class="app-bar promote-layer paper-toolbar paper-shadow">
  <div class="app-bar-container paper-toolbar">
    <h1 class="logo">page-er with a custom pagination template</h1>
  </div>
</header>

<p>A `page-er` looks like this:</p>

<!-- Using Custom Elements -->
<page-er perpage="5" currentpage="0" customTemplate>
  <div class="pagination" id="pagination">
    <ul>
      <li><paper-button label="First" on-click="{{firstPage}}"></paper-button></li>
      <li class='{{currentpage === 0 ? "disabled" : ""}}'>
        <paper-button label="Previous" on-click="{{prevPage}}"></paper-button>
      </li>
      <template repeat="{{n in currentRange}}">
        <li class="{{n == currentpage ? 'active' : ''}}" data-item="{{n}}" on-click="{{setPage}}">
          <paper-button raisedButton class="colored" label="{{n+1}}">{{n+1}}</button>
        </li>
      </template>
      <li class='{{currentpage === pageCount? "disabled" : ""}}'>
        <paper-button on-click="{{nextPage}}" label="Next"></paper-button>
      </li>
      <li><paper-button label="Last" on-click="{{lastPage}}"></paper-button></li>
    </ul>
  </div>
</page-er>

<flatiron-director id="router" autoHash></flatiron-director>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Item name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <template id="items" repeat="{{items}}">
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{description}}</td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
<script>
  // Select the grid/table where your main data will appear
  var t = document.querySelector("#items");
  // Select the paginator to use with this element
  var m = document.querySelector("page-er");
  // Routing
  var r = document.querySelector("#router");

  // Create a model we will populate with data
  var model = {
    items: []
  };

  // To avoid pager-change stamping out your route
  // initially.
  var initialPath = false;

  // As this is an example, populate some sample data inside
  for (var i = 1; i < 50; i++) {
    model.items.push({
      id: i,
      name: "Item "+ i,
      description: "description " + i
    });
  }

  // When Polymer (and our paginator) are ready..
  document.addEventListener('polymer-ready', function() {
    // Activate the model data on our paginator
    //m.model = model;
  });

  document.addEventListener('director-route', function(e) {
    if(m.data.length <= 0){
      m.data = model.items;
    }
    m.changePage(r.route);
    initialPath = true;
  });

  document.addEventListener('pager-next', function(e) {
    r.route = e.detail.page;
  });

  document.addEventListener('pager-previous', function(e) {
    r.route = e.detail.page;
  });

  document.addEventListener('pager-data', function(e) {
    // The original model set has been paged
    // Update the current view
    t.model = { items: e.detail.data };
  });

  document.addEventListener('pager-change', function(e) {
    t.model = { items: e.detail.data };
    if(!!initialPath) {
      r.route = e.detail.page;
    } else {
      initialPath = false;
    }
  });
</script>
</body>
</html>
