/*
  Styles for Polymer pagination element demos.
*/

body {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
}
.container {
  margin: 0 auto;
  width: 960px;
}
table {
  border: 1px solid #eeeeee;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table th,
table td {
  text-align: center;
  padding: 6px;
}
tbody > tr:nth-child(2n+1) > td,
tbody > tr:nth-child(2n+1) > th {
  background-color: #eeeeee;
}

tr td img {
  width: 200px;
}

/*
  Customize pagination styling
*/

page-er::shadow .pagination li button {
  color: white;
  background: #3E50B4;
  font-size: 1em;
  text-transform: uppercase;
  padding: 8px 12px;
}

page-er::shadow .pagination li button:hover {
  background: #303F9F;
}

page-er::shadow .pagination li.active button {
  background: #E91E63;
}

page-er::shadow .pagination li.disabled button {
  background: #B1B9E1;
}
